.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.input-search {
    width: 100%;
    padding: 18px 12px;
    padding-right: 3.2rem;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &:focus {
        outline: none;
    }
}

.search-button {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #FF5350;
    color: white;
    border-radius: 8px;
    padding: 6px;
    font-size: 8px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgba(255, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    &:hover {
        background-color: #f56d6b;
    }
}